body{
    background: var(--color-black);
    width: 100%;
    padding: var(--spacing-32px) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-192px);
    color: var(--color-white);
}

h1{
    font: var(--font-head1)
}

h2{
    font: var(--font-head2)
}

h3{
    font: var(--font-head3)
}

h4{
    font: var(--font-head4)
}

h5{
    font: var(--font-head5)
}

h6{
    font: var(--font-head6)
}

p{
    font: var(--font-p);
}

a{
    font: var(--font-p)
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-60px);
}

.section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12px);
}

.section_number{
    color: var(--color-green);
    font: var(--font-head1);
}

.section_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32px);
}

.non_accedent{
    color: var(--color-gray);
}