header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    height: 100vh;
}

#section_01, #section_02, #section_03, .section_content{
    align-items: center;
}

#section_03 p{
    text-align: center;
}

.content_image_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12px);
}

.section_05_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4px);
}

.section_05_content > p{
    color: var(--color-gray);
}