header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    height: 100vh;
}

#section_01, #section_02, #section_03, .section_content{
    align-items: center;
}

#section_03 p{
    text-align: center;
}

.content_image_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12px);
}

.section_05_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4px);
}

.section_05_content > p{
    color: var(--color-gray);
}

#table_01 th:nth-child(1), #table_01 th:nth-child(3){
    width: 40%;
}

#table_01 th:nth-child(2){
    width: 20%;
}

#table_02, #table_02 th, #table td{
    border-style: inset;
}

#table_02 th{
    height: 150px;
}

#table_03{
    border-spacing: var(--spacing-16px);
}

#table_03, #table_03 th, #table_03 td{
    border: 1px solid white;
    border-collapse: separate;
}

#table_04 th:nth-child(even), #table_04 td:nth-child(even){
    background: var(--color-purple);
}