header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    height: 100vh;
}

#section_01, #section_02, #section_03, .section_content{
    align-items: center;
}

#section_03 p{
    text-align: center;
}