*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:visited{
    color: var(--color-purple);
}

a:hover{
    color: var(--color-green);
    transition: .2s;
}

a:active{
    color: var(--color-white);
}